<h4 class="text-center mt-3"> Why Choose FreshBuys?</h4>
<section>
    <div class="d-grid g-1 mt-5 py-3 ">
        <div class="row row-cols-4 mt-3 p-2">
            <div class="col text-center">
                <img src="~/img/icon/icons8-quality.gif" alt="Quantity" class="img-fluid" />
                <h6>Quatity</h6>
                <p>You can trust</p>
            </div>
            <div class="col text-center">
                <img src="~/img/icon/icons8-time.gif" alt="Ontime" class="img-fluid" />
                <h6>OnTime</h6>
                <p>Guarantee</p>
            </div>
            <div class="col text-center">
                <img src="~/img/icon/icons8-delivery.gif" alt="freeDelivery" class="img-fluid" />
                <h6>Free</h6>
                <p>Delivery</p>
            </div>
            <div class="col text-center">
                <img src="~/img/icon/icons8-return.gif" alt="return" class="img-fluid" />
                <h6>Return Policy</h6>
                <p>No Quation asked</p>
            </div>
        </div>
    </div>
</section>
