.divider-text:before,
.divider-text::after {
    color: white;
    content: "";
    flex: 1;
    border-bottom: 1px solid #555;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;
}



html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  
}

.product {
    border: 1px solid #f0f0f0;
    
}

.add-to-cart {
    color: #fff;
    background-color: #82ae46;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.backgroud-img-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    position: relative;
}

.backgroud-shop {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    position: relative;
}
#Search:focus{
    outline:none;
    
}
nav {
    text-transform: uppercase;
}

.Shop-Card-img{
    width: 154px;
    height:154px;
}

